
.page{
    padding-left:10%;
    padding-right:10%;
    padding-top:2%;
}
.title{
    font-size: 22px;
    font-weight: 600;
}

.image{
    width:80%;
    border: 1px solid black
}

.description{
    font-size: 16px;
    color: #364751;

}

.title-container{
    margin-bottom: 2%;
}

.recomm-tiny-image{
    border: 1px solid black;
    width: 15%;
}

.sub-title{
    font-size: 16px;
    font-weight: 600;
    margin-bottom:2%;
}

.recommendations{
    margin-top:3%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

td {
    padding-top: 1% !important;
}

th {
    text-align: left;
}

table {
    border-spacing: 5px;
}

tr {
    margin-bottom: 2px;
}
