{% load bootstrap3 %}
{% bootstrap_css %}

{% load static %}

<html>
    <head>
        <title>{{ name }}</title>

        <link rel="stylesheet" href="{% static "styles.css" %}"/>
        <style>
        .sub-title,.title-container{margin-bottom:2%}.image,.recomm-tiny-image,table,td,th{border:1px solid #000}.page{padding-left:10%;padding-right:10%;padding-top:2%}.title{font-size:22px;font-weight:600}.image{width:80%}.description{font-size:16px;color:#364751}.recomm-tiny-image{width:15%}.sub-title{font-size:16px;font-weight:600}.recommendations{margin-top:3%}table,td,th{border-collapse:collapse}td,th{padding:15px}td{padding-top:1%!important}th{text-align:left}table{border-spacing:5px}tr{margin-bottom:2px}
        </style>
    </head>

    <body>
        <div class="page">
            <div class="title-container">
                <div class="title">{{ name }}</div>
            </div>
            <div class="description">{{ description }}</div>

            <div class="recommendations">
                <div class="sub-title">Recommendations</div>
                {% for recommendation in recommendations %}
                <a href="/product/{{ recommendation.product.name}}">
                    <img class="recomm-tiny-image img-thumbnail" src={{ recommendation.product.picture_url}}>
                </a>
                {% endfor%}
            </div>
        </div>

    </body>

</html>
