{% load bootstrap3 %}
{% bootstrap_css %}

{% load static %}

<html>
    <head>
        <title>
            {{ product_name}}
        </title>
        <link rel="stylesheet" href="/static/styles.css"/>
    </head>

    <body>
        <div class="page">
            <div class="title-container">
                <div class="title">{{ product_name }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img class="image" src={{ picture_url}}>
                </div>
                <div class="col-md-8 description">{{ description }}</div>
            </div>
        </div>

    </body>

</html>
